<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="../css/bootstrap/css/bootstrap.min.css"/>
<link href="../css/myStyle.css" type="text/css" rel="stylesheet"/>
</head>
<body>
	<script>
		$.ajax({
			type:"POST",
			url:"../../src/controllerPetInfo.php",
			dataType: "json",
			data: {},
			success: function(data){
				if (data === undefined || data.length == 0) {
					document.body.innerHTML = "<h1>Sorry, We currently have no pets ready</h1>"
				}
				else
				{
					document.body.innerHTML = "<div class=\"banner\">Here are All Pets ready for their new home!</div>"
					for(var key in data){
						element = data[key];
						document.body.innerHTML += "<div>";
						for(var key2 in element){
							document.body.innerHTML += element + " ";
						}
						document.body.innerHTML += "</div>";
					}
				}
			}
		});
	</script>
<script src="../js/jquery-latest.js"></script>
<script src="../js/vue.js"></script>
<script>Vue.config.productionTip=false</script>

</body>
</html>
