@charset "UTF-8";
/*Felicity Aldava */
html {
  font-family: sans-serif;
  line-height: 1.15;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
} 

body {
  font-family: sans-serif;
  line-height: 1.15;
  height: auto;
  background-color: #F9E1CB;
  background-repeat: no-repeat;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.outer_wrap{
	height: 100%;
	position: relative;
}

.login_pannel{
	width: 400px;
	height: 300px
	position: absolute;
	top: 50%;
	left: 50%
	margin-top: -150px;
	margin-left: -200px;
}

.button {
	background-color: white;
	border-radius: 5px;
	display: inline-block;
}
.color_orange{
	color: #fd7e14;
}

.background_gray{
	background: #EEEAE7;
}

.color_gray{
	color: #A7A4A1 ;
}

.banner{
	width:100%;
	height:50px;
	color: black;
	font-size: 1.75rem;
	font-family:Times New Roman;
	text-align:center;
	padding-top:20px
}

.second_layer_title{
	color: #A7A4A1;
	font-size: 1.25rem;
	padding: 10px;
}

.third_layer_title{
	color: #A7A4A1;
	font-size:0.75rem;
	padding: 0px 10px 10px 20px;
}

.form_row{
	height: 2rem;
	margin-top:10px;
	background: white;
	margin-left:20px;
	margin-right: 20px;
	border:1px solid #8E8C8A ;
	padding-left: 10px;
}

.main_center{
	width: 335px;
	margin: 20px auto;
}

.myProfile-font{
	font-size: .8rem;
}

.myProfile-font-small{
	font-size: .5rem;
}

hr{
	margin: 0
}

.strong{
	font-weight: bolder;
}

.image-size{
	width : 56px;
	height : 56px;
}

.not-clicked{
	 pointer-events: none;
}

.input-label{
	 background-color: transparent;
	 border: 0;
	 width: 210px;
}

.pet-block{
	border: 1px solid #8E8C8A;
	border-radius: 5px;
	background-color: white;
	
}

.textarea-adjust{
	width: 100%;
    overflow: auto;
    word-break: break-all;
    border: 1px solid #8E8C8A;
    border-radius: 2px;
}

.favorite-block{
	border: 1px solid #8E8C8A;
	border-radius: 5px;
	background-color: white;
}

.pet-block  img{
	padding: 0.25rem;
  	background-color: #fff;
  	border: 1px solid #dee2e6;
  	border-radius: 0.25rem;
  	max-width: 100%;
 	 height: auto;
}

.adjust{
	width: 100%;  
    height: auto;  
    word-wrap:break-word;  
    overflow: hidden;
}

