<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Actors/Roles/Movies</title>
<link href="myStyle.css" type="text/css" rel="stylesheet">
</head>
<body>

<input type="text" id="substr"/>
<input type = "button" class = "button" value = "Actors" onclick = 'show_data()'>
<div id="chg"></div>

<script>
function show_data(){
	substr = document.getElementById("substr").value
	ajax = new XMLHttpRequest();
	ajax.open("$_GET", "../src/controller.php?"+"value"+"="+substr, true);
	ajax.send();
	
	ajax.onreadystatechange = function(){
		if (ajax.readyState == 4 && ajax.status == 200){
			information = JSON.parse(ajax.responseText);
			//alert(information)
			
			str = "";
			str += "<tr><td>";
			str += information[0]["value"];
			str += "</td></tr>";
			document.getElementById("chg").innerHTML = "<h3>" +"Result"+ "</h3><table>" + str + "</td></table>" ;
			
			if (information == ""){
				document.getElementById("chg").innerHTML = "No matches for '"+substr +"'";
			}
		}
	}
}
	
/* a */


</script>
</body>
</html>